.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.item {
  margin-bottom: 0.5em;
}
